body {
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 1000px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

#expense-form input,
#expense-form {
    display: flex;
    gap: 10px;
    padding: 8px;
}

#expense-form button {
    cursor: pointer;
}

#expense-form button:hover {
    background-color: rgb(182, 199, 157);
}

#expense-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
}

#expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#expense-list button {
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 4px 1px;
}

#expense-list button:hover {
    background-color: rgb(200, 123, 123);
}