body > form {
    display: grid;
    grid-template-columns: 10em 450px;
    gap: 0.75em;

    grid-template-areas: 
    "Description_Label Description_Input"
    "Cost_Label Cost_Input"
    "Type_Label Type_Input"
    "Date_Label Date_Input"
    "Blank Buttons";

    label {
        padding: 0.5em;
        color: rgb(89, 137, 213);
        width: 1;
    }

    input, select {
        padding: 0.5em;
    }

    label[for="description"] {
        grid-area: Description_Label;
    }

    #description {
        grid-area: Description_Input;
    }

    label[for="amount"] {
        grid-area: Cost_Label;
    }

    #amount {
        grid-area: Cost_Input;
    }

    label[for="category"] {
        grid-area: Type_Label;
    }

    #category {
        grid-area: Type_Input;
        cursor: pointer;
    }

    label[for="date"] {
        grid-area: Date_Label;
    }

    #date {
        grid-area: Date_Input;
        cursor: pointer;
    }

    >.buttons {
        grid-area: Buttons;
        display: flex;
        gap: 15px;
        justify-content: flex-start;
        align-items: flex-start;
        
        > button {
            height: 3em;
            width: 8em;
            cursor: pointer;
        }

        #submit {
            background-color: rgb(73, 122, 178);
            color: white;
        }

        #reset {
            background-color: rgb(205, 49, 49);
            color: white;
        }
    }
}

@media (width <= 650px) {
    body > form {
        grid-template-columns: 0.5fr;

        grid-template-areas: 
        "Description_Label"
        "Description_Input"
        "Cost_Label"
        "Cost_Input"
        "Type_Label"
        "Type_Input"
        "Date_Label"
        "Date_Input"
        "Buttons"
        ;

        gap: 10px;

        label {
            padding: 0;
            margin-bottom: 0;
        }

        input, select {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
}